@import 'node_modules/foundation-sites/scss/util/util';
@import 'node_modules/foundation-sites/scss/global';
@import 'node_modules/foundation-sites/scss/grid/grid';
@import '../breakpoints.json';

$block-grid-max: 8;
$grid-column-alias: false;
$grid-column-align-edge: false;
$grid-column-gutter-small-up: 20px;
$grid-column-gutter: $grid-column-gutter-small-up;
$global-flexbox: false;

$breakpoints: (
  small: $small,
  medium: $medium,
  large: $large,
  xlarge: $xlarge
);

$breakpoint-classes: map-keys($breakpoints);
$grid-row-width: $xlarge + $grid-column-gutter-small-up;

@include foundation-grid;

.row, .column {
  box-sizing: border-box;
}
