@import 'node_modules/foundation-sites/scss/util/util';
@import 'node_modules/foundation-sites/scss/global';
@import 'node_modules/foundation-sites/scss/grid/grid';
@import 'node_modules/foundation-sites/scss/components/visibility';
@import './config/grid.json';
@import './config/breakpoints.json';

$block-grid-max: 1;
$grid-column-alias: '';
$grid-column-align-edge: false;
$grid-column-gutter: map-get($gutters, 'default');

$breakpoints: (
  xsmall: $xsmall,
  small: $small,
  medium: $medium,
  large: $large,
  xlarge: $xlarge,
  xxlarge: $xxlarge
);

$-zf-zero-breakpoint: xsmall;
$breakpoint-classes: map-keys($breakpoints);
$grid-row-width: $xxlarge + $grid-column-gutter;

.row,
.column {
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;

  .column {
    display: flex;
  }
}

@each $size in $breakpoint-classes {
  @if $size != $-zf-zero-breakpoint {
    .hide-for-#{$size} {
      @include hide-for($size);
    }

    .show-for-#{$size} {
      @include show-for($size);
    }
  }
}

$vertical-gutter: rem-calc($grid-column-gutter / 2);

.v-gutters {
  margin-top: -$vertical-gutter;
  margin-bottom: -$vertical-gutter;

  .column {
    padding-top: $vertical-gutter;
    padding-bottom: $vertical-gutter;
  }
}

@include foundation-grid;
