@import 'node_modules/foundation-sites/scss/util/util';
@import 'node_modules/foundation-sites/scss/global';
@import 'node_modules/foundation-sites/scss/grid/grid';
@import 'node_modules/foundation-sites/scss/components/visibility';
@import './config/grid.json';
@import './config/breakpoints.json';

$block-grid-max: 1;
$grid-column-alias: '';
$grid-column-align-edge: false;
$grid-column-gutter: map-get($gutters, 'default');

$breakpoints: (
  small: $small,
  medium: $medium,
  large: $large,
  xlarge: $xlarge
);

$breakpoint-classes: map-keys($breakpoints);
$grid-row-width: $xlarge + $grid-column-gutter;

.row,
.column {
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;

  .column {
    display: flex;
  }
}

@each $size in $breakpoint-classes {
  @if $size != $-zf-zero-breakpoint {
    .hide-for-#{$size} {
      @include hide-for($size);
    }

    .show-for-#{$size} {
      @include show-for($size);
    }
  }
}

@include foundation-grid;
